.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 1em;
}

img {
	width: 50%;
	height: auto;
}

.location-listing {
	position: relative;
}
   
.location-image {
	line-height: 0;
	
}

.location-title {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 50%;
	background: rgba(3, 116, 114, 0.4);
	 
	/* typographic styles */
	color: white;
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;
	 
	/* position the text centrally*/
	display: flex;
	align-items: center;
	justify-content: center;

	/* hide the title by default */
	opacity: 0;
	transition: opacity .5s;
}

.location-listing:hover .location-title {
	opacity: 1;
}

