body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

li {
    list-style: none;
    float: right;
    padding-right: 20px;
}

.top {
    background-color: darkseagreen;
    height:90px;
}

.mid {
    background-color: bisque;
    height: 500px;
}

.under {
    background-color: darkseagreen;
    height: 70px;
}

.logo {
    font-size: larger;
    padding-top: 30px;
    padding-left: 10px;

}

.bawah {
    padding-top: 25px;
}