
*,
html{
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "lucida granade"
}


li{
    list-style: none;
    color: yellow;
}

.Header {
    height: 100px;
    background-color:  rgb(10, 153, 129);
}

.Header-logo{
    padding: 33px 20px;
    float: left;
    font-size: 20px;
    padding: 50px 38px;
    background-image: url(19.png);
    background-size: cover ; 
}

.Header-list li {
    color: yellow;
    font-size: 20px;
    float: right;
    padding: 10px 10px;
    padding-top: 35px;
 
}

.Bg {
background-color: aquamarine;
height: 300px;

} 

.Main {
    background-color:antiquewhite;
    height: 600px;
    padding: 100px 80px;


}

.copy-container h1{
    font-size: 200px;
}
.copy-container h2{
    font-size: 100px;
}
.copy-container span{
    color: aqua;
}

.Footer {
    background-color: rgb(10, 153, 129);
    height: 75px;
    margin-top: 0;
    width: 100%;

}

.footer-list {
    font-size: small;
    text-align: center;
    padding-top: 9px;
}


a{
    text-decoration: none;

}


.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0;
    color: yellow;

}

.p1 {
    color: aquamarine;
}

.top-wrapper {
    padding: 50px 0 50px 0;
    height:300px;
    color: aliceblue;
    text-align: center  ;
    padding-top: 10% ;
    background-image: url(19depan1.jpg);
    background-size: cover ; 
    text-align: center;
}

.top-wrapper h1 {
    opacity: 0,7;
    font-size: 30px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.top-wrapper p {
    opacity: 0,7;
    margin-bottom: 10px;

}

.btn {
    padding: 12px 24px;
    color: aliceblue;
    display: inline-block;
    opacity: 0,7;
    border-radius: 4px;
}

.btn-hover {
    opacity: 1;

}

.signup {
    background-color: rgb(10, 153, 129, 0.7);

}

.facebook {
    background-color: rgb(10, 153, 129, 0.7);
    margin-right: 10px;


}

.twitter {
    background-color: rgb(10, 153, 129, 0.7);

}

.main {
    background-color: rgb(10, 153, 129);
    padding: 20px 10px;
}

.copy-container h1 {
    font-size: 50px;
    color: yellow;
}

.section-title {
    border-bottom: 2px solid yellow
}

.content {
    width: auto;
    height: auto;
    margin: 10px auto;
    text-align: justify;
    background-color: rgb(10, 153, 129);
}

.kolom-koran {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    width: auto;
    height: auto;
    padding: 10px;
    color: yellow;
}

.tengah {
    background-color: aquamarine;
    display: flex;
    justify-content: center ;
}
.contact-form {
    padding-top: 50px;
    width: 10;

}

input,textarea{
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
}

input,textarea{
    border: 1px solid #dee7ec;

}

.submit-contact {
    background-color: #dee7ec;
    color: black;
}
