
*,
html{
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "lucida granade"
}


li{
    list-style: none;
    color: yellow;
}

.Header {
    height: 100px;
    background-color: rgb(10, 153, 129);
}

.Header-logo{
    padding: 33px 20px;
    float: left;
    font-size: 20px;
    padding: 50px 38px;
    background-image: url(19.png) ;
    background-size: cover;
}

.oke a {
    color: yellow;
    opacity: 0,7;
    transition: 0.3s;
}

.Header-list a {
    color: yellow;
    font-size: 20px;
    float: right;
    padding: 10px 10px;
    padding-top: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Header-list a:hover {
    color: yellowgreen;
    font-weight: bold;
    opacity: 1;
    transition: 0.3s;
    border-bottom: 3pt solid aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Bg {
background-color: aquamarine;
height: 300px;

} 

.Main {
    background-color:antiquewhite;
    height: 600px;
    padding: 100px 80px;


}

.copy-container h1{
    font-size: 200px;
}
.copy-container h2{
    font-size: 100px;
}
.copy-container span{
    color: aqua;
}

.Footer {
    background-color: rgb(10, 153, 129);
    height: 75px;
    margin-top: 0;
    width: 100%;
}

.footer-list {
    font-size: small;
    text-align: center;
    padding-top: 9px;
}


a{
    text-decoration: none;

}


.container {
    width: auto;
    margin: 0;
    color: yellow;
}

.container a {
    color: yellow;
    opacity: 0,7;
    transition: 0.3s;
}

.btn-wrapper a:hover {
    font-weight: bold;
    opacity: 1;
    transition: 0.3s;
    background-color: rgb(10, 153, 129);
    border-radius: 20px;

}

.p1 {
    color: aquamarine;
}

.top-wrapper {
    padding: 50px 0 50px 0;
    height:300px;
    color: aliceblue;
    text-align: center  ;
    padding-top: 10% ;
    background-image: url(19depan1.jpg);
    background-size: cover ; 
    text-align: center;
}

.top-wrapper h1 {
    opacity: 0,7;
    font-size: 30px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.top-wrapper p {
    margin-bottom: 10px;

}

.btn {
    padding: 12px 24px;
    color: aliceblue;
    display: inline-block;
    opacity: 1;
    border-radius: 10px;
    box-shadow: 0 8px rgb(3, 130, 109);
}

.btn:active{
    box-shadow: 0 5px rgb(18, 67, 59);
    transform: translateY(4px);
}

.signup {
    background-color: rgb(10, 153, 129);

}

.facebook {
    background-color: rgb(10, 153, 129);
    margin-right: 10px;


}

.twitter {
    background-color: rgb(10, 153, 129);

}

.main {
    background-color: rgb(10, 153, 129);
    width: auto;
    height: 100px;
}

.main h1 {
    text-align: center;
    padding-top: 15px;
}

.copy-container h1 {
    font-size: 50px;
    color: yellow;
}

.section-title {
    border-bottom: 2px solid yellow
}

.content {
    width: auto;
    height: 150px;
    margin: 0;
    text-align: justify;
    background-color: rgb(10, 153, 129);
}

.kolom-koran {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    width: auto;
    height: auto;
    padding: 10px;
    color: yellow;
    -webkit-column-rule-width : 1px;
	-moz-column-rule-width : 1px;
	column-rule-width : 1px;	
    /*pengaturan garis dengan format nilai jenis_garis warna*/
	-webkit-column-rule : 1px solid aquamarine;
	-moz-column-rule : 1px solid aquamarine;
	column-rule : 1px solid aquamarine;
	/*mengatur span column*/
	-webkit-column-span :all;
	-moz-column-span :all;
	column-span: all;	
}
.kolom-koran a {
    font-weight: bold;
    font-size: 50px;
}

.tengah {
    background-color: rgb(11, 172, 145);
    display: flex;
    justify-content: center ;
}
.contact-form {
    padding-top: 50px;
    width: 10;

}

input,textarea{
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border-radius: 10px;
}

input,textarea{
    border: solid rgb(2, 80, 2);


}

.submit-contact {
    background-color: #dee7ec;
    color: black;
}